<div id="documents" class="detailed">
  <% @collections.each_with_index do |collection, counter| %>
      <div class="blacklight-collection document row<%= " first" if counter == 0 %>">
        <div class="span12 collection-title">
          <h5 class="index_title">
            <%= link_to_document collection, :label=>collection.title.html_safe %>
            <span class="muted">
              (<%= pluralize(number_with_delimiter(collection.collection_members(:include_hidden=>can?(:view_hidden, SolrDocument)).total_members),
                  t('revs.collection_members.items_name')) %>)
            </span>
          </h5>
        </div>
      </div>
      <div class="row collection-details">
        <div class="span4">
          <span class="collection-description">
            <%= truncate(collection.description, :length=>300) %>
            <span class="more-link">
              <%= link_to t('revs.nav.more'), collection_path(collection), :id => "collection-link" %>
            </span>
          </span>
        </div>
        <div class="span8">
          <div class="filmstrip-container">
            <div class="scroll-control disabled" data-direction="left"></div>
            <div class="scroll-control" data-direction="right"></div>
            <div class="filmstrip" data-preview-container='true'>
              <ul>
                <%# loop through each item in collection %>
                <% 8.times do %>
                  <li>
                    <div>
                      <%# replace below with item properties %>
                      <%= link_to_document(collection,
                      :label => image_tag(collection.random_item.images(:default).first,
                      :alt => collection.title.html_safe, :title=>collection.title.html_safe))  %>
                    </div>
                  </li>
                <% end %>
                <li class="last">
                  <%= image_tag("filmstrip-last-image.png") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
